.row {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  background-color: #f7f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tuto-div {
  width: 94%;
  padding: 20px 0;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 10px;
}

.tuto-div h1 {
  font-size: 1.2rem;
  color: #015249;
  line-height: 1.2;
  margin: 10px 15px 30px;
}

.tuto-box {
  width: auto;
  max-height: auto;
  margin: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgb(182, 181, 181);
  transition: 0.5s;
}

.tuto-box .conteudo {
  width: 100%;
  height: auto;
  background-color: white;
}

.tuto-box .conteudo p,
h3 {
  text-align: left;
  opacity: 0.7;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
  margin: 10px 20px;
}

.tuto-box img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.tuto-box .conteudo .categorias-tuto div {
  text-align: center;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px white;
  background-color: rgb(233, 233, 233);
  width: auto;
}

.tuto-box .conteudo .categorias-tuto {
  background-color: rgb(241, 241, 241);
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: auto;
  height: auto;
  margin: 10px 20px;
  border-radius: 10px;
}

.tuto-box .conteudo a {
  margin: 0 20px;
}

.tuto-box div:hover img {
  opacity: 0.9;
}

.ler-mais {
  position: relative;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ler-mais button {
  background: #ffffff;
  padding: 20px 60px;
  border: 2px solid #015249;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  color: #015249;
  text-decoration: none;
  transition: 0.3s ease;
}

.ler-mais button:hover {
  color: #ffffff;
  background: #015249;
}

