*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
	font-family: "Open Sans", sans-serif;
}

.about-section{
	background:url("imagens/background-aboutus.jpg") no-repeat left;
	background-size: 50%;
	background-color: #fdfdfd;
	overflow: hidden;
	padding: 20px 0;
}

.inner-container{
	width: 55%;
	float: right;
	background-color: #fdfdfd;
	padding: 130px;
}

.inner-container h1{
	margin-bottom: 30px;
	font-size: 30pt;
	font-weight: 900;
}

.text{
	font-size: 18pt;
	color: #545454;
	line-height: 30px;
	text-align: justify;
	margin-bottom: 40px;
}

@media screen and (max-width:1200px){
	.inner-container{
		padding: 80px
	}
}

@media screen and (max-width:1000px){
	.about-section{
		background-size: 100%;
		padding: 100px 40px;
	}
	.inner-container{
		width: 100%;
	}
}

@media screen and (max-width:600px){
	.about-section{
		padding: 0;
	}
	.inner-container{
		padding: 60px;
	}
}