*{
	margin: 0px;
	padding: 0px;
}

header{
	position: relative;
	width: 100%;
	height: 200px;
	background-color: blue;
	margin: 0px;
}

/*-----------------------PRINCIPAL COM FLEXBOX----------------------*/

.ajudante {
	position: relative;
	margin-top: 0px;
	width: 100%;
	height: 1000px;
}

#pesquisar {
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 10%;
	background-color: gray;
}

.div-pesquisa {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
  	justify-content: center;
  	align-items: center;
	width: 100%;
	height: 70%;
	border-radius: 2%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.div-pesquisa > div {
	width: 80%;
	margin: 10px;
	text-align: center;
	line-height: 80px;
	font-size: 16pt;
	border-radius: 10px;
}

#busca-input {
	width: 100%;
}

#main {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 80%;
	background-color: lightgreen;
}

.passos {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: red;
	position: relative;
  	justify-content: center;
  	align-items: center;
	width: 90%;
	height: 70%;
	border-radius: 2%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.passos > div {
	background-color: orange;
	width: 80%;
	margin: 10px;
	text-align: center;
	line-height: 80px;
	font-size: 16pt;
	border-radius: 10px;
}

/*------------------------MENU COM FLEXBOX---------------------------*/
.menuFlex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  background-color: DodgerBlue;
  height: 110px;
  position: relative;
}

.menuFlex > div {
  background-color: #f1f1f1;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 16pt;
  border-radius: 10px
}

